<section class="section-package-flights">
    <div class="container">
        <h2 class="package-title">
            Flights available
        </h2>
        <div class="flights">
            @@for (let flight of flights) {
                <div class="card card-flight">
                    <div class="head">
                        <div class="from">
                            <div class="code">
                                ` + flight.main.from.code + `
                            </div>
                            <div class="city">
                                ` + flight.main.from.city + `
                            </div>
                        </div>
                        <div class="to">
                            <div class="code">
                                ` + flight.main.to.code + `
                            </div>
                            <div class="city">
                                ` + flight.main.to.city + `
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="details">
                            <div class="detail">
                                <div class="from">
                                    <div class="date">
                                        ` + flight.arriving.from.date + `
                                    </div>
                                    <div class="time">
                                        ` + flight.arriving.from.time + `
                                    </div>
                                    <div class="location">
                                        ` + flight.arriving.from.city + `<br>
                                        ` + flight.arriving.from.airport + `
                                    </div>
                                </div>
                                <div class="info">
                                    <h4 class="title">
                                        Arriving
                                    </h4>
                                    ` + ((typeof flight.arriving.transfer !== 'undefined') ? ('<div class="transfer"><i class="icon icon-transfer-desktop"></i><i class="icon icon-transfer-mobile"></i><div class="code">' + flight.arriving.transfer.code + '</div><div class="duration">' + flight.arriving.transfer.duration + '</div></div>') : '') + `
                                </div>
                                <div class="to">
                                    <div class="date">
                                        ` + flight.arriving.to.date + `
                                    </div>
                                    <div class="time">
                                        ` + flight.arriving.to.time + `
                                    </div>
                                    <div class="location">
                                        ` + flight.arriving.to.city + `<br>
                                        ` + flight.arriving.to.airport + `
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="from">
                                    <div class="date">
                                        ` + flight.returning.from.date + `
                                    </div>
                                    <div class="time">
                                        ` + flight.returning.from.time + `
                                    </div>
                                    <div class="location">
                                        ` + flight.returning.from.city + `<br>
                                        ` + flight.returning.from.airport + `
                                    </div>
                                </div>
                                <div class="info">
                                    <h4 class="title">
                                        Returning
                                    </h4>
                                    ` + ((typeof flight.returning.transfer !== 'undefined') ? ('<div class="transfer"><i class="icon icon-transfer-desktop"></i><i class="icon icon-transfer-mobile"></i><div class="code">' + flight.returning.transfer.code + '</div><div class="duration">' + flight.returning.transfer.duration + '</div></div>') : '') + `
                                </div>
                                <div class="to">
                                    <div class="date">
                                        ` + flight.returning.to.date + `
                                    </div>
                                    <div class="time">
                                        ` + flight.returning.to.time + `
                                    </div>
                                    <div class="location">
                                        ` + flight.returning.to.city + `<br>
                                        ` + flight.returning.to.airport + `
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>