<section class="section-package-get">
    <div class="js-sticky component-sticky">
        <div class="container">
            <div class="component-get-package">
                <div class="img-wrapper">
                    <img class="img" src="@@img" alt="@@title">
                </div>
                <div class="text-wrapper">
                    <div class="title">
                        @@title
                    </div>
                    <div class="period">
                        @@period
                    </div>
                    <div class="price-text">
                        From only:
                    </div>
                    <div class="price">
                        @@price
                    </div>
                </div>
                <a class="btn btn-primary btn-gradient btn-xl" href="@@link">Get Package</a>
            </div>
        </div>
    </div>
</section>