<section class="section-package-hotels">
    <div class="container">
        <h2 class="package-title">
            Hotels available
        </h2>
        <div class="hotels">
            <div class="card card-hotel">
                <div class="photos">
                    <div class="js-carousel owl-carousel">
                        @@for (let photo of photos) {
                            <img class="photo" src="` + photo.src + `" alt="@@title">
                        }
                    </div>
                </div>
                <div class="info">
                    <h3 class="title">
                        @@title
                    </h3>
                    <div class="address">
                        @@address
                    </div>
                    <div class="description">
                        @@description
                    </div>
                    <div class="term">
                        @@term
                    </div>
                    <ul class="features">
                        @@for (let feature of features) {
                            <li class="feature">
                                <i class="icon icon-` + feature.class + `"></i>` + feature.text + `
                            </li>
                        }
                    </ul>
                    <div class="note">
                        @@note
                    </div>
                    <div class="location">
                        <i class="icon icon-location-2"></i>@@location
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>