<section class="section-package-includes">
    <div class="container">
        <h2 class="package-title">
            PACKAGE INCLUDES:
        </h2>
        <ul class="component-features">
            @@for (let feature of features) {
                <li class="feature">
                    <i class="icon icon-` + feature.class + `"></i>` + feature.text + `
                </li>
            }
        </ul>
        <div class="itinerary">
            <div class="text">Get your itinerary here:</div>
            <a class="link" href="@@itinerary" target="_blank"><span class="link-text">Download Here</span><i class="icon icon-download"></i></a>
        </div>
    </div>
</section>