<section class="section-package-main" style="background-image: url('@@bgDesktop')">
    <div class="bg-mobile" style="background-image: url('@@bgMobile')">
        <div class="overlay">
            <div class="title">
                <h1>
                    @@title
                </h1>
            </div>
            <div class="date">
                @@date
            </div>
            <div class="agent-logo">
                <img src="images/rwc-logo.png" alt="Rugby World Cup Japan 2019 - Official travel agent">
            </div>
            <div class="copyright">
                <img src="images/rwc-logo-small.png" alt="Rugby World Cup Japan 2019 - Official travel agent">
                <span>TM © Rugby World Cup Limited 2015. All rights reserved.</span>
            </div>
        </div>
    </div>
</section>