<section class="section-package-maps">
    <div class="container">
        <h2 class="package-title">
            Maps
        </h2>
        <div class="map">
            <img class="d-none d-md-inline-block" src="@@mapDesktop" alt="Map">
            <img class="d-md-none" src="@@mapMobile" alt="Map">
        </div>
    </div>
</section>