<section class="section-package-price">
    <div class="container">
        <div class="text">Package Price:</div>
        <div class="info">
            <div class="from">From only</div>
            <div class="price">
                @@price
            </div>
        </div>
    </div>
</section>