<section class="section-package-tickets">
    <div class="container">
        <h2 class="package-title">
            Tickets available 
        </h2>
        <div class="text">
            The following fixtures are available within this package
        </div>
        <div class="matches">
            @@for (let match of matches) {
                <div class="card card-match static">
                    <div class="pool ` + match.group.class + `">
                        ` + match.group.textVertical + `
                    </div>
                    <div class="match">
                        <div class="date">
                            ` + match.dateThereFormated + `
                        </div>
                        <div class="sides">
                            <div class="side">
                                <img class="flag-img" src="` + match.teams[0].flagImg + `" alt="` + match.teams[0].name + `">
                                <div class="country">` + match.teams[0].name + `</div>
                            </div>
                            <div class="divider">
                                v
                            </div>
                            <div class="side">
                                    <img class="flag-img" src="` + match.teams[1].flagImg + `" alt="` + match.teams[1].name + `">
                                    <div class="country">` + match.teams[1].name + `</div>
                                </div>
                        </div>
                        <div class="location">
                            ` + match.location + `
                        </div>
                        <div class="categories">
                            <div class="category category-b">Category B</div>
                            <div class="category category-c">Category C</div>
                            <div class="category category-d">Category D</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>