<div class="btn-group-toggle" data-toggle="buttons">
    <label class="js-toggle-label btn btn-filter btn-sm @@class">
        <input type="checkbox" name="@@name" value="@@value" autocomplete="off"> @@value
    </label>
</div>