<div class="component-collapse">
    <h3 class="title @@if(textClass.length === 0) {collapsed}" data-toggle="collapse" data-target="#@@textId">
        @@title<i class="icon icon-arrow-2"></i>
    </h3>
    <div class="text-wrapper collapse @@textClass" id="@@textId" data-parent="#@@parentId">
        <div class="text">
            @@text
        </div>
    </div>
</div>