<div class="card card-history">
    <div class="card-header text-center" style="background: @@color">
        <h3 class="h4 card-title text-uppercase">@@title</h3>
        <h4 class="card-text">@@subtitle</h4>
    </div>
    <div class="card-body position-relative d-flex justify-content-center align-items-center">
        <img class="card-img-top" src="@@background" alt="background">
        <div class="text-center content-wrap">
            <h4 class="card-title text-uppercase">@@content-title</h4>
            <p class="card-text text-white">@@content-text</p>
        </div>
        <img src="@@flag" alt="flag" class="flag-img">
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-center align-items-center">
            <div class="title">@@bottom-title1</div>
            <div class="text">@@bottom-text1</div>
        </li>
        <li class="list-group-item d-flex justify-content-center align-items-center">
            <div class="title">@@bottom-title2</div>
            <div class="text">@@bottom-text2</div>
        </li>
    </ul>
</div>