<ul class="nav flex-column @@class">
    @@for (let item of navItems) {
        <li class="nav-item">
            <a class="nav-link" href="` + item.link + `">
                ` + item.text + `
            </a>
        </li>
    }
</ul>