<div class="js-nav-tabs-wrapper nav-tabs-wrapper">
    <ul class="nav nav-tabs js-nav-sticky js-nav-tabs">
        @@for (let tab of tabs) {
            <li class="js-nav-item nav-item">
                <a class="js-nav-link nav-link" href="#tab-` + tab.name + `" data-tab="` + tab.name + `">
                    ` + tab.text + `
                </a>
            </li>
        }
    </ul>
</div>