<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="index.html">
        <img src="images/logo.png" alt="RedTix logo">
    </a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="icon icon-humburger"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto mt-3 mt-lg-0">
            @@for (let item of navItems) {
                <li class="nav-item">
                    <a class="nav-link text-right" href="` + item.link + `">
                        ` + item.text + `
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>