<div class="card card-package size-@@size">
    <div class="head" style="background-image: url('@@imgDesktop')">
        <div class="bg-mobile" style="background-image: url('@@imgMobile')">
            <div class="date">@@date</div>
        </div>
    </div>
    <div class="body">
        <ul class="component-features">
            @@for (let feature of features) {
                <li class="feature">
                    <i class="icon icon-` + feature.class + `"></i>` + feature.text + `
                </li>
            }
        </ul>
    </div>
    <div class="footer">
        <div class="price-wrapper">
            <div class="price-text">
                From
            </div>
            <div class="price">
                @@price
            </div>
        </div>
        <a class="btn btn-primary btn-gradient" href="@@link">Get More Info</a>
    </div>
</div>