<div class="card card-pool pool-@@class">
    <h3 class="title">
        @@title
    </h3>
    <div class="countries">
        @@for(let country of countries) {
            <div class="country">
                ` + country + `
            </div>
        }
    </div>
</div>