<ul class="component-socials">
    @@for (let item of items) {
        <li class="social">
            <a href="` + item.link + `">
                <i class="icon icon-social-` + item.class + `"></i>
            </a>
        </li>
    }
</ul>