<div class="js-tabs component-tabs">
    @@for(let tab of tabs) {
        <div class="js-tab tab" data-tab="` + tab.name + `">
            @@include("tabs/` + tab.name + `.html")
        </div>
    }
</div>