<a class="component-video" href="@@link" target="_blank">
    <div class="image">
        <div class="img-wrapper">
            <img class="img" src="@@img" alt="@@title">
        </div>
        <div class="duration">
            @@duration
        </div>
    </div>
    <div class="description">
        <h3 class="title">
            <span>
                @@title
            </span>
        </h3>
        <div class="time">
            @@time
        </div>
    </div>
</a>