@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?azrkol') format('truetype'),
    url('fonts/icomoon.woff?azrkol') format('woff'),
    url('fonts/icomoon.svg?azrkol#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-3:before {
  content: "\e91e";
}
.icon-arrow-4:before {
  content: "\e91b";
}
.icon-arrow-5:before {
  content: "\e91c";
}
.icon-close-2:before {
  content: "\e91d";
}
.icon-airplane:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-arrow-2:before {
  content: "\e902";
}
.icon-arrow-3:before {
  content: "\e903";
}
.icon-badge:before {
  content: "\e904";
}
.icon-bed:before {
  content: "\e905";
}
.icon-breakfast:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-conditioner:before {
  content: "\e909";
}
.icon-download:before {
  content: "\e90a";
}
.icon-ellipse:before {
  content: "\e90b";
}
.icon-filters:before {
  content: "\e90c";
}
.icon-humburger:before {
  content: "\e90d";
}
.icon-location:before {
  content: "\e90e";
}
.icon-location-2:before {
  content: "\e90f";
}
.icon-loupe:before {
  content: "\e910";
}
.icon-minus:before {
  content: "\e911";
}
.icon-plus:before {
  content: "\e912";
}
.icon-social-facebook:before {
  content: "\e913";
}
.icon-social-instagram:before {
  content: "\e914";
}
.icon-social-twitter:before {
  content: "\e915";
}
.icon-social-youtube:before {
  content: "\e916";
}
.icon-support:before {
  content: "\e917";
}
.icon-transfer-desktop:before {
  content: "\e918";
}
.icon-transfer-mobile:before {
  content: "\e919";
}
.icon-wi-fi:before {
  content: "\e91a";
}
