<div class="modal fade modal-slider" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <form class="js-form modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon icon-close-2"></i>
                </button>
            </div>
            <div class="modal-body component-slider">
                <ul class="js-slider">
                    <li data-thumb="images/gallery/1-thumbnail.jpg">
                        <img src="images/gallery/1-slide.jpg" alt="Photo">
                    </li>
                    <li data-thumb="images/gallery/2-thumbnail.jpg">
                        <img src="images/gallery/2-slide.jpg" alt="Photo">
                    </li>
                    <li data-thumb="images/gallery/3-thumbnail.jpg">
                        <img src="images/gallery/3-slide.jpg" alt="Photo">
                    </li>
                    <li data-thumb="images/gallery/4-thumbnail.jpg">
                        <img src="images/gallery/4-slide.jpg" alt="Photo">
                    </li>
                    <li data-thumb="images/gallery/5-thumbnail.jpg">
                        <img src="images/gallery/5-slide.jpg" alt="Photo">
                    </li>
                    <li data-thumb="images/gallery/6-thumbnail.jpg">
                        <img src="images/gallery/6-slide.jpg" alt="Photo">
                    </li>
                    <li data-thumb="images/gallery/7-thumbnail.jpg">
                        <img src="images/gallery/7-slide.jpg" alt="Photo">
                    </li>
                    <li data-thumb="images/gallery/8-thumbnail.jpg">
                        <img src="images/gallery/8-slide.jpg" alt="Photo">
                    </li>
                </ul>
                <button class="js-slider-prev prev">
                    <i class="icon icon-arrow-4"></i>
                    <i class="icon icon-arrow-5"></i>
                </button>
                <button class="js-slider-next next">
                    <i class="icon icon-arrow-4"></i>
                    <i class="icon icon-arrow-5"></i>
                </button>
            </div>
        </form>
    </div>
</div>