@@include("base/start.html", {
    "title": "Quarter-Finals (Tokyo Stadium) to the Finals - Rugby World Cup Japan 2019"
})
            @@include("sections/header.html")
            @@include("sections/package/main.html", {
                "bgDesktop": "images/packages/10-bg-desktop.jpg",
                "bgMobile": "images/packages/10-bg-mobile.jpg",
                "title": "<span class='d-fs-80'><span class='m-fs-38 m-lc'>Quarter-Finals</span> <span class='m-fs-20'>(Tokyo Stadium)</span></span> <span class='d-fs-140 m-fs-52'>to the Finals</span>",
                "date": "18 October - 03 November 2019"
            })
            @@include("sections/package/price.html", {
                "price": "RM 13,041"
            })
            @@include("sections/package/includes.html", {
                "features": [
                    {
                        "class": "airplane",
                        "text": "Return Flight from Selected Cities"
                    },
                    {
                        "class": "badge",
                        "text": "QF2 & QF4 Match Tickets"
                    },
                    {
                        "class": "badge",
                        "text": "SF1 & SF2 Match Tickets"
                    },
                    {
                        "class": "badge",
                        "text": "Ticket to the final"
                    },
                    {
                        "class": "support",
                        "text": "Dedicated RedTix Online Support"
                    }
                ],
                "itinerary": "files/itinerary-1.pdf"
            })
            @@include("sections/package/tickets.html", {
                "matches": [
                    {
                        "group": {
                            "class": "pool-not-known",
                            "textVertical": "QF &nbsp; 2"
                        },
                        "dateThereFormated": "Sat 19 October 2019, (GMT+9) 19:15",
                        "location": "Tokyo Stadium",
                        "teams": [
                            {
                                "name": "quarter-final 2",
                                "flagImg": "images/flags/sm/not-known.png"
                            },
                            {
                                "name": "quarter-final 2",
                                "flagImg": "images/flags/sm/not-known.png"
                            }
                        ]
                    },
                    {
                        "group": {
                            "class": "pool-not-known",
                            "textVertical": "QF &nbsp; 4"
                        },
                        "dateThereFormated": "Sun 20 October 2019, (GMT+9) 19:15",
                        "location": "Tokyo Stadium",
                        "teams": [
                            {
                                "name": "quarter-final 4",
                                "flagImg": "images/flags/sm/not-known.png"
                            },
                            {
                                "name": "quarter-final 4",
                                "flagImg": "images/flags/sm/not-known.png"
                            }
                        ]
                    },
                    {
                        "group": {
                            "class": "pool-not-known",
                            "textVertical": "SF &nbsp; 1"
                        },
                        "dateThereFormated": "Sat 26 October 2019, (GMT+9) 17:00",
                        "location": "International Stadium Yokohama",
                        "teams": [
                            {
                                "name": "semi-final 1",
                                "flagImg": "images/flags/sm/not-known.png"
                            },
                            {
                                "name": "semi-final 1",
                                "flagImg": "images/flags/sm/not-known.png"
                            }
                        ]
                    },
                    {
                        "group": {
                            "class": "pool-not-known",
                            "textVertical": "SF &nbsp; 2"
                        },
                        "dateThereFormated": "Sat 27 October 2019, (GMT+9) 18:00",
                        "location": "International Stadium Yokohama",
                        "teams": [
                            {
                                "name": "semi-final 2",
                                "flagImg": "images/flags/sm/not-known.png"
                            },
                            {
                                "name": "semi-final 2",
                                "flagImg": "images/flags/sm/not-known.png"
                            }
                        ]
                    },
                    {
                        "group": {
                            "class": "pool-not-known",
                            "textVertical": "FINAL"
                        },
                        "dateThereFormated": "2 November 2019, (GMT+9) 18:00",
                        "location": "International Stadium Yokohama",
                        "teams": [
                            {
                                "name": "the final",
                                "flagImg": "images/flags/sm/not-known.png"
                            },
                            {
                                "name": "the final",
                                "flagImg": "images/flags/sm/not-known.png"
                            }
                        ]
                    }
                ]
            })
            @@include("sections/package/maps.html", {
                "mapDesktop": "images/maps/tokyo-yokohama-desktop.jpg",
                "mapMobile": "images/maps/tokyo-yokohama-mobile.jpg"
            })
            @@include("sections/package/flights.html", {
                "flights": [
                    {
                        "main": {
                            "from": {
                                "code": "KUL",
                                "city": "Kuala Lumpur"
                            },
                            "to": {
                                "code": "HND",
                                "city": "Tokyo"
                            }
                        },
                        "arriving": {
                            "from": {
                                "date": "Fri, 19 Sept",
                                "time": "14:25",
                                "city": "Kuala Lumpur",
                                "airport": "International Airport 2"
                            },
                            "to": {
                                "date": "Fri, 19 Sept",
                                "time": "22:30",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        },
                        "returning": {
                            "from": {
                                "date": "Mon, 23 Sept",
                                "time": "23:45",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            },
                            "to": {
                                "date": "Mon, 23 Sept",
                                "time": "05:55",
                                "city": "Kuala Lumpur",
                                "airport": "International Airport 2"
                            }
                        }
                    },
                    {
                        "main": {
                            "from": {
                                "code": "SIN",
                                "city": "Singapore"
                            },
                            "to": {
                                "code": "HND",
                                "city": "Tokyo"
                            }
                        },
                        "arriving": {
                            "from": {
                                "date": "Fri, 19 Sept",
                                "time": "10:30",
                                "city": "Changi",
                                "airport": "International Airport"
                            },
                            "transfer": {
                                "code": "KUL",
                                "duration": "1 Hours 5 min"
                            },
                            "to": {
                                "date": "Fri, 19 Sept",
                                "time": "22:30",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        },
                        "returning": {
                            "from": {
                                "date": "Sat, 23 Sept",
                                "time": "23:45",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            },
                            "transfer": {
                                "code": "KUL",
                                "duration": "1 Hours 5 min"
                            },
                            "to": {
                                "date": "Sat, 23 Sept",
                                "time": "11:10",
                                "city": "Changi",
                                "airport": "International Airport"
                            }
                        }
                    },
                    {
                        "main": {
                            "from": {
                                "code": "CGK",
                                "city": "Jakarta"
                            },
                            "to": {
                                "code": "HND",
                                "city": "Tokyo"
                            }
                        },
                        "arriving": {
                            "from": {
                                "date": "Fri, 19 Sept",
                                "time": "08:35",
                                "city": "Soekarno-Hatta",
                                "airport": "International Airport"
                            },
                            "transfer": {
                                "code": "KUL",
                                "duration": "2 Hours 10 min"
                            },
                            "to": {
                                "date": "Fri, 19 Sept",
                                "time": "22:30",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        },
                        "returning": {
                            "from": {
                                "date": "Mon, 23 Sept",
                                "time": "23:45",
                                "city": "Soekarno-Hatta",
                                "airport": "International Airport"
                            },
                            "transfer": {
                                "code": "KUL",
                                "duration": "1 Hours 5 min"
                            },
                            "to": {
                                "date": "Mon, 23 Sept",
                                "time": "20:00",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        }
                    },
                    {
                        "main": {
                            "from": {
                                "code": "DMK",
                                "city": "Bangkok"
                            },
                            "to": {
                                "code": "NRT",
                                "city": "Japan"
                            }
                        },
                        "arriving": {
                            "from": {
                                "date": "Fri, 19 Sept",
                                "time": "11:05",
                                "city": "Don Mueang",
                                "airport": "International Airport"
                            },
                            "to": {
                                "date": "Fri, 19 Sept",
                                "time": "19:25",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        },
                        "returning": {
                            "from": {
                                "date": "Mon, 23 Sept",
                                "time": "08:40",
                                "city": "Narita",
                                "airport": "International Airport"
                            },
                            "to": {
                                "date": "Mon, 23 Sept",
                                "time": "01:20",
                                "city": "Don Mueang",
                                "airport": "International Airport"
                            }
                        }
                    }
                ]
            })
            @@include("sections/copyright.html")
            @@include("sections/package/get.html", {
                "img": "images/packages/10-get.jpg",
                "title": "Quarter-Finals (Tokyo Stadium) to the Finals",
                "period": "18 Oct - 03 Nov 2019",
                "price": "RM 13,041",
                "link": "#"
            })
            @@include("sections/footer.html")
@@include("base/end.html")