@@include("base/start.html", {
    "title": "Quarter-Finals: Tokyo Stadium - Package - Rugby World Cup Japan 2019"
})
            @@include("sections/header.html")
            @@include("sections/package/main.html", {
                "bgDesktop": "images/packages/7-bg-desktop.jpg",
                "bgMobile": "images/packages/7-bg-mobile.jpg",
                "title": "<span class='d-fs-100 m-fs-38 m-lc'>Quarter-Finals:</span> <span class='d-fs-140 m-fs-52'>Tokyo Stadium</span>",
                "date": "18 October - 21 October 2019"
            })
            @@include("sections/package/price.html", {
                "price": "RM 6,438"
            })
            @@include("sections/package/includes.html", {
                "features": [
                    {
                        "class": "airplane",
                        "text": "Return Flight from Selected Cities"
                    },
                    {
                        "class": "bed",
                        "text": "4 Days 3 Nights"
                    },
                    {
                        "class": "badge",
                        "text": "QF2 & QF4 Match Tickets"
                    },
                    {
                        "class": "support",
                        "text": "Dedicated RedTix Online Support"
                    }
                ],
                "itinerary": "files/itinerary-1.pdf"
            })
            @@include("sections/package/tickets.html", {
                "matches": [
                    {
                        "group": {
                            "class": "pool-not-known",
                            "textVertical": "QF &nbsp; 2"
                        },
                        "dateThereFormated": "19 October 2019, (GMT+9) 16:15",
                        "location": "Tokyo Stadium",
                        "teams": [
                            {
                                "name": "quarter-final 2",
                                "flagImg": "images/flags/sm/not-known.png"
                            },
                            {
                                "name": "quarter-final 2",
                                "flagImg": "images/flags/sm/not-known.png"
                            }
                        ]
                    },
                    {
                        "group": {
                            "class": "pool-not-known",
                            "textVertical": "QF &nbsp; 4"
                        },
                        "dateThereFormated": "20 October 2019, (GMT+9) 16:15",
                        "location": "Tokyo Stadium",
                        "teams": [
                            {
                                "name": "quarter-final 4",
                                "flagImg": "images/flags/sm/not-known.png"
                            },
                            {
                                "name": "quarter-final 4",
                                "flagImg": "images/flags/sm/not-known.png"
                            }
                        ]
                    }
                ]
            })
            @@include("sections/package/maps.html", {
                "mapDesktop": "images/maps/tokyo-desktop.jpg",
                "mapMobile": "images/maps/tokyo-mobile.jpg"
            })
            @@include("sections/package/flights.html", {
                "flights": [
                    {
                        "main": {
                            "from": {
                                "code": "KUL",
                                "city": "Kuala Lumpur"
                            },
                            "to": {
                                "code": "HND",
                                "city": "Tokyo"
                            }
                        },
                        "arriving": {
                            "from": {
                                "date": "Fri, 19 Sept",
                                "time": "14:25",
                                "city": "Kuala Lumpur",
                                "airport": "International Airport 2"
                            },
                            "to": {
                                "date": "Fri, 19 Sept",
                                "time": "22:30",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        },
                        "returning": {
                            "from": {
                                "date": "Mon, 23 Sept",
                                "time": "23:45",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            },
                            "to": {
                                "date": "Mon, 23 Sept",
                                "time": "05:55",
                                "city": "Kuala Lumpur",
                                "airport": "International Airport 2"
                            }
                        }
                    },
                    {
                        "main": {
                            "from": {
                                "code": "SIN",
                                "city": "Singapore"
                            },
                            "to": {
                                "code": "HND",
                                "city": "Tokyo"
                            }
                        },
                        "arriving": {
                            "from": {
                                "date": "Fri, 19 Sept",
                                "time": "10:30",
                                "city": "Changi",
                                "airport": "International Airport"
                            },
                            "transfer": {
                                "code": "KUL",
                                "duration": "1 Hours 5 min"
                            },
                            "to": {
                                "date": "Fri, 19 Sept",
                                "time": "22:30",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        },
                        "returning": {
                            "from": {
                                "date": "Sat, 23 Sept",
                                "time": "23:45",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            },
                            "transfer": {
                                "code": "KUL",
                                "duration": "1 Hours 5 min"
                            },
                            "to": {
                                "date": "Sat, 23 Sept",
                                "time": "11:10",
                                "city": "Changi",
                                "airport": "International Airport"
                            }
                        }
                    },
                    {
                        "main": {
                            "from": {
                                "code": "CGK",
                                "city": "Jakarta"
                            },
                            "to": {
                                "code": "HND",
                                "city": "Tokyo"
                            }
                        },
                        "arriving": {
                            "from": {
                                "date": "Fri, 19 Sept",
                                "time": "08:35",
                                "city": "Soekarno-Hatta",
                                "airport": "International Airport"
                            },
                            "transfer": {
                                "code": "KUL",
                                "duration": "2 Hours 10 min"
                            },
                            "to": {
                                "date": "Fri, 19 Sept",
                                "time": "22:30",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        },
                        "returning": {
                            "from": {
                                "date": "Mon, 23 Sept",
                                "time": "23:45",
                                "city": "Soekarno-Hatta",
                                "airport": "International Airport"
                            },
                            "transfer": {
                                "code": "KUL",
                                "duration": "1 Hours 5 min"
                            },
                            "to": {
                                "date": "Mon, 23 Sept",
                                "time": "20:00",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        }
                    },
                    {
                        "main": {
                            "from": {
                                "code": "DMK",
                                "city": "Bangkok"
                            },
                            "to": {
                                "code": "NRT",
                                "city": "Japan"
                            }
                        },
                        "arriving": {
                            "from": {
                                "date": "Fri, 19 Sept",
                                "time": "11:05",
                                "city": "Don Mueang",
                                "airport": "International Airport"
                            },
                            "to": {
                                "date": "Fri, 19 Sept",
                                "time": "19:25",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        },
                        "returning": {
                            "from": {
                                "date": "Mon, 23 Sept",
                                "time": "08:40",
                                "city": "Narita",
                                "airport": "International Airport"
                            },
                            "to": {
                                "date": "Mon, 23 Sept",
                                "time": "01:20",
                                "city": "Don Mueang",
                                "airport": "International Airport"
                            }
                        }
                    }
                ]
            })
            @@include("sections/package/hotels.html", {
                "photos": [
                    {
                        "src": "images/hotels/candeo.jpg"
                    },
                    {
                        "src": "images/hotels/candeo.jpg"
                    },
                    {
                        "src": "images/hotels/candeo.jpg"
                    }
                ],
                "title": "Candeo Hotel Ueno Park",
                "address": "1 Chome-2- 1 3 Negishi, Taitō, Tokyo 110-0003, Japan",
                "description": "Set in the cultured Ueno district, this relaxed tower hotel is a 3-minute walk from Uguisudani train station and 5 minutes' walk from Ueno Park, home to the Tokyo National Museum.",
                "term": "4-Days 3-Nights",
                "features": [
                    {
                        "class": "breakfast",
                        "text": "Breakfast"
                    },
                    {
                        "class": "conditioner",
                        "text": "Air conditioner"
                    },
                    {
                        "class": "wi-fi",
                        "text": "Free Wi-fi"
                    }
                ],
                "note": "*Rugby World Cup 2019 will be a busy period for Japan. All hotels mentioned in the packages are subject to availability. Should your allocated hotel be unavailable, RedTix ensures a replacement hotel of similar quality.",
                "location": "Tokyo Stadium - 9.8km or 27mins"
            })
            @@include("sections/copyright.html")
            @@include("sections/package/get.html", {
                "img": "images/packages/7-get.jpg",
                "title": "Quarter-Finals: Tokyo Stadium",
                "period": "18 Oct - 21 Oct 2019",
                "price": "RM 6,438",
                "link": "#"
            })
            @@include("sections/footer.html")
@@include("base/end.html")