@@include("base/start.html", {
    "title": "Opening Ceremony - Package - Rugby World Cup Japan 2019"
})
            @@include("sections/header.html")
            @@include("sections/package/main.html", {
                "bgDesktop": "images/packages/1-bg-desktop.jpg",
                "bgMobile": "images/packages/1-bg-mobile.jpg",
                "title": "<span class='d-fs-140'><span class='m-fs-48'>Opening</span> <span class='m-fs-62'>Ceremony</span></span>",
                "date": "19 September - 22 September 2019"
            })
            @@include("sections/package/price.html", {
                "price": "RM 6,325"
            })
            @@include("sections/package/includes.html", {
                "features": [
                    {
                        "class": "airplane",
                        "text": "Return Flight from Selected Cities"
                    },
                    {
                        "class": "bed",
                        "text": "4 Days 3 Nights Accomodation in Tokyo"
                    },
                    {
                        "class": "badge",
                        "text": "Japan v Russia (Inc. Opening Ceremony)"
                    },
                    {
                        "class": "badge",
                        "text": "New Zealand v South Africa"
                    },
                    {
                        "class": "support",
                        "text": "Dedicated RedTix Online Support"
                    }
                ],
                "itinerary": "files/itinerary-1.pdf"
            })
            @@include("sections/package/tickets.html", {
                "matches": [
                    {
                        "group": {
                            "class": "pool-a",
                            "textVertical": "Pool &nbsp; A"
                        },
                        "dateThereFormated": "Fri 20 September 2019, (GMT+9) 19:45",
                        "location": "Tokyo Stadium",
                        "teams": [
                            {
                                "name": "JAPAN",
                                "flagImg": "images/flags/sm/japan.png"
                            },
                            {
                                "name": "RUSSIA",
                                "flagImg": "images/flags/sm/russia.png"
                            }
                        ]
                    },
                    {
                        "group": {
                            "class": "pool-b",
                            "textVertical": "Pool &nbsp; B"
                        },
                        "dateThereFormated": "21 September 2019, (GMT+9) 18:45",
                        "location": "International Stadium Yokohama",
                        "teams": [
                            {
                                "name": "NEW ZEALAND",
                                "flagImg": "images/flags/sm/new-zealand.png"
                            },
                            {
                                "name": "SOUTH AFRICA",
                                "flagImg": "images/flags/sm/south-africa.png"
                            }
                        ]
                    }
                ]
            })
            @@include("sections/package/maps.html", {
                "mapDesktop": "images/maps/tokyo-yokohama-desktop.jpg",
                "mapMobile": "images/maps/tokyo-yokohama-mobile.jpg"
            })
            @@include("sections/package/flights.html", {
                "flights": [
                    {
                        "main": {
                            "from": {
                                "code": "KUL",
                                "city": "Kuala Lumpur"
                            },
                            "to": {
                                "code": "HND",
                                "city": "Tokyo"
                            }
                        },
                        "arriving": {
                            "from": {
                                "date": "Fri, 19 Sept",
                                "time": "14:25",
                                "city": "Kuala Lumpur",
                                "airport": "International Airport 2"
                            },
                            "to": {
                                "date": "Fri, 19 Sept",
                                "time": "22:30",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        },
                        "returning": {
                            "from": {
                                "date": "Mon, 23 Sept",
                                "time": "23:45",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            },
                            "to": {
                                "date": "Mon, 23 Sept",
                                "time": "05:55",
                                "city": "Kuala Lumpur",
                                "airport": "International Airport 2"
                            }
                        }
                    },
                    {
                        "main": {
                            "from": {
                                "code": "SIN",
                                "city": "Singapore"
                            },
                            "to": {
                                "code": "HND",
                                "city": "Tokyo"
                            }
                        },
                        "arriving": {
                            "from": {
                                "date": "Fri, 19 Sept",
                                "time": "10:30",
                                "city": "Changi",
                                "airport": "International Airport"
                            },
                            "transfer": {
                                "code": "KUL",
                                "duration": "1 Hours 5 min"
                            },
                            "to": {
                                "date": "Fri, 19 Sept",
                                "time": "22:30",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        },
                        "returning": {
                            "from": {
                                "date": "Sat, 23 Sept",
                                "time": "23:45",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            },
                            "transfer": {
                                "code": "KUL",
                                "duration": "1 Hours 5 min"
                            },
                            "to": {
                                "date": "Sat, 23 Sept",
                                "time": "11:10",
                                "city": "Changi",
                                "airport": "International Airport"
                            }
                        }
                    },
                    {
                        "main": {
                            "from": {
                                "code": "CGK",
                                "city": "Jakarta"
                            },
                            "to": {
                                "code": "HND",
                                "city": "Tokyo"
                            }
                        },
                        "arriving": {
                            "from": {
                                "date": "Fri, 19 Sept",
                                "time": "08:35",
                                "city": "Soekarno-Hatta",
                                "airport": "International Airport"
                            },
                            "transfer": {
                                "code": "KUL",
                                "duration": "2 Hours 10 min"
                            },
                            "to": {
                                "date": "Fri, 19 Sept",
                                "time": "22:30",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        },
                        "returning": {
                            "from": {
                                "date": "Mon, 23 Sept",
                                "time": "23:45",
                                "city": "Soekarno-Hatta",
                                "airport": "International Airport"
                            },
                            "transfer": {
                                "code": "KUL",
                                "duration": "1 Hours 5 min"
                            },
                            "to": {
                                "date": "Mon, 23 Sept",
                                "time": "20:00",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        }
                    },
                    {
                        "main": {
                            "from": {
                                "code": "DMK",
                                "city": "Bangkok"
                            },
                            "to": {
                                "code": "NRT",
                                "city": "Japan"
                            }
                        },
                        "arriving": {
                            "from": {
                                "date": "Fri, 19 Sept",
                                "time": "11:05",
                                "city": "Don Mueang",
                                "airport": "International Airport"
                            },
                            "to": {
                                "date": "Fri, 19 Sept",
                                "time": "19:25",
                                "city": "Tokyo",
                                "airport": "International Airport"
                            }
                        },
                        "returning": {
                            "from": {
                                "date": "Mon, 23 Sept",
                                "time": "08:40",
                                "city": "Narita",
                                "airport": "International Airport"
                            },
                            "to": {
                                "date": "Mon, 23 Sept",
                                "time": "01:20",
                                "city": "Don Mueang",
                                "airport": "International Airport"
                            }
                        }
                    }
                ]
            })
            @@include("sections/package/hotels.html", {
                "photos": [
                    {
                        "src": "images/hotels/hearton.jpg"
                    },
                    {
                        "src": "images/hotels/hearton.jpg"
                    },
                    {
                        "src": "images/hotels/hearton.jpg"
                    }
                ],
                "title": "Hearton Hotel HIGASHISHINAGAWA",
                "address": "4 Chome-13- 2 7 Higashishinagawa, Shinagawa, Tokyo 140-0002, Japan",
                "description": "A 2-minute walk from Rinkai Shinagawa Seaside Station, this polished hotel with a glass-fronted lobby overlooks the Keihin Canal, and is 8 km from the landmark Tokyo Tower.",
                "term": "4-Days 3-Nights",
                "features": [
                    {
                        "class": "breakfast",
                        "text": "Breakfast"
                    },
                    {
                        "class": "conditioner",
                        "text": "Air conditioner"
                    },
                    {
                        "class": "wi-fi",
                        "text": "Free Wi-fi"
                    }
                ],
                "note": "*Rugby World Cup 2019 will be a busy period for Japan. All hotels mentioned in the packages are subject to availability. Should your allocated hotel be unavailable, RedTix ensures a replacement hotel of similar quality.",
                "location": "Tokyo Stadium - 13.8km or 22mins | International Stadium - 26.9km or 37mins"
            })
            @@include("sections/copyright.html")
            @@include("sections/package/get.html", {
                "img": "images/packages/1-get.jpg",
                "title": "Opening Ceremony",
                "period": "19 Sept - 22 Sept 2019",
                "price": "RM 6,325",
                "link": "#"
            })
            @@include("sections/footer.html")
@@include("base/end.html")