<section class="section-copyright">
    <div class="container">
        <img class="sponsor" src="images/sponsor.png" alt="Emirates - Preferred Airline">
        <p class="copyright">
            The Webb Ellis Cup is protected by TM © Rugby World Cup Limited 2015. All rights reserved.
        </p>
    </div>
</section>