<section class="section-faq">
    <div class="container">
        <div class="container-sm">
            <h2>
                Rugby World Cup 2019(TM), Japan
            </h2>
            <p>
                Here is an overview of the frequently asked questions about our travel packages for Rugby World Cup
                2019 in Japan. If you have any queries that you don’t see below then please get in touch via
                <a href="#">live chat</a>.
            </p>
            <div class="accordion" id="faq-accordion">
                @@ loop("components/collapse.html", [
                    {
                        "title": "Important notes",
                        "text": "<ul><li>RM 8 RedTix fee per ticket.</li><li>Strictly no replacement for missing tickets and cancellation.</li></ul>",
                        "textId": "faq-content-1",
                        "textClass": "show",
                        "parentId": "faq-accordion"
                    },
                    {
                        "title": "Why travel with RedTix?",
                        "text": "<ul><li>RedTix has been appointed as an Authorised Official Travel Agent for Rugby World Cup 2019, your match tickets and flights are 100% guaranteed. RedTix is an Authorised Sub-Agent for Rugby World Cup 2019. We have been putting together great sporting and festival packages in Asia for nearly a decade. Our packages are simple, seamless and affordable ensuring a value-for-money sporting experience.</li><li>Book with RedTix for the chance to absorb in the unique atmosphere Rugby World Cup 2019 will provide and the opportunity to explore a fascinating and beautiful country.</li><li>As an Authorised Sub-Agent for Rugby World Cup 2019, your match tickets are 100% guaranteed.</li></ul>",
                        "textId": "faq-content-2",
                        "textClass": "",
                        "parentId": "faq-accordion"
                    },
                    {
                        "title": "How do I book?",
                        "text": "<ul><li>On each package page, there is a GET TICKETS tab. Click this to enter the booking process for your package. Purchasing your package will secure your package place/s subject to receipt of monies.</li><li>If you have any questions then please feel free to get in touch via <a href='#'>live chat</a>.</li></ul>",
                        "textId": "faq-content-3",
                        "textClass": "",
                        "parentId": "faq-accordion"
                    },
                    {
                        "title": "Is there free time on package so we can do our own things?",
                        "text": "<ul><li>We design our packages so that guests have plenty of free time. For Japan, we have not included any sightseeing tours.</li></ul>",
                        "textId": "faq-content-4",
                        "textClass": "",
                        "parentId": "faq-accordion"
                    },
                    {
                        "title": "What if I wish to organise my own flights to Japan? ",
                        "text": "<ul><li>This is no problem, please send your request to <a href='mailto:support@redtix.com'>support@redtix.com</a> and we will try our best to facilitate to your needs.</li></ul>",
                        "textId": "faq-content-5",
                        "textClass": "",
                        "parentId": "faq-accordion"
                    },
                    {
                        "title": "Where can I note some special requests? ",
                        "text": "<ul><li>This can be done by simply contacting us via <a href='#'>live chat</a>.</li></ul>",
                        "textId": "faq-content-6",
                        "textClass": "",
                        "parentId": "faq-accordion"
                    },
                    {
                        "title": "What happens when I email an enquiry?",
                        "text": "<ul><li>We always endeavor to reply to all enquiries of any nature within 24 hours.</li></ul>",
                        "textId": "faq-content-7",
                        "textClass": "",
                        "parentId": "faq-accordion"
                    },
                    {
                        "title": "How can I pay for my package?",
                        "text": "<ul><li>We accept payment via debit/credit card. All payment methods and details are contained within your invoice.</li><li>Payment plans are also available subject to card issuer.</li></ul>",
                        "textId": "faq-content-8",
                        "textClass": "",
                        "parentId": "faq-accordion"
                    },
                    {
                        "title": "What happens after I submit my booking request?",
                        "text": "<ul><li>After you have chosen your preferred package, you will receive your booking number. If you have any questions once you receive your confirmation, you can email us on <a href='mailto:support@redtix.com'>support@redtix.com</a> with your booking number and query.</li></ul>",
                        "textId": "faq-content-9",
                        "textClass": "",
                        "parentId": "faq-accordion"
                    },
                    {
                        "title": "I have made a booking and now unable to travel, do I get a refund?",
                        "text": "<ul><li>Please refer to our Rugby World Cup 2019 <a href='#'>Terms & Conditions</a> if you need to cancel a booking.</li></ul>",
                        "textId": "faq-content-10",
                        "textClass": "",
                        "parentId": "faq-accordion"
                    },
                    {
                        "title": "RedTix doesn't have the match I want?",
                        "text": "<ul><li>If there is a match that you would like to attend and it’s not included within our packages, please feel free to contact us via <a href='#'>live chat</a> and we will do our best to help accommodate your suggestions.</li></ul>",
                        "textId": "faq-content-11",
                        "textClass": "",
                        "parentId": "faq-accordion"
                    }
                ])
            </div>
        </div>
    </div>
</section>