<footer>
    <div class="container-fluid">
        <div class="content">
            <a class="logo" href="index.html">
                <img src="images/logo.png" alt="RedTix logo">
            </a>
            <div class="d-flex flex-column">
                <div class="socials-wrapper order-lg-2">
                    <h3 class="title">Follow</h3>
                    @@ include("components/socials.html", {
                        "items": [
                            {
                                "class": "instagram",
                                "link": "#"
                            },
                            {
                                "class": "youtube",
                                "link": "#"
                            },
                            {
                                "class": "twitter",
                                "link": "#"
                            },
                            {
                                "class": "facebook",
                                "link": "#"
                            }
                        ]
                    })
                </div>
                <div class="text-wrapper d-flex order-lg-1">
                    <div class="text">
                        RedTix.com is the hottest, <br class="d-none d-xl-block">
                        smartest new way to discover, discuss, review <br class="d-none d-xl-block">
                        and book tickets to an international line&#8209;up <br class="d-none d-xl-block">
                        of concerts, sporting events, musicals, <br class="d-none d-xl-block">
                        theatre performances and more.
                    </div>
                    @@ include("components/nav-vertical.html", {
                        "class": "d-none d-lg-block",
                        "navItems": [
                            {
                                "link": "#",
                                "text": "Website Terms & Conditions"
                            },
                            {
                                "link": "#",
                                "text": "Register Your Details"
                            },
                            {
                                "link": "#",
                                "text": "Privacy"
                            }
                        ]
                    })
                </div>
            </div>
            <div class="copyright">
                <p class="d-none d-lg-block">
                    The Rugby World Cup 2019 logo TM © Rugby World Cup Limited 2015. All rights reserved.
                </p>
                <p>
                    Redtix Sdn. Bhd., a subsidiary of AirAsia Berhad. ©2007-2018 All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>