<section class="section-gallery">
    <div class="container">
        <h2>Rugby World Cup gallery </h2>
    </div>
    <div class="gallery">
        <div class="img-row">
            <a class="js-slider-preview img-link" href="#" data-index-number="0">
                <img class="img" src="images/gallery/1-preview.jpg" alt="Photo">
            </a>
        </div>
        <div class="img-row">
            <a class="js-slider-preview img-link" href="#" data-index-number="1">
                <img class="img" src="images/gallery/2-preview.jpg" alt="Photo">
            </a>
            <a class="js-slider-preview img-link" href="#" data-index-number="2">
                <img class="img" src="images/gallery/3-preview.jpg" alt="Photo">
            </a>
        </div>
        <div class="img-row">
            <a class="js-slider-preview img-link" href="#" data-index-number="3">
                <img class="img" src="images/gallery/4-preview.jpg" alt="Photo">
            </a>
            <a class="js-slider-preview img-link" href="#" data-index-number="4">
                <img class="img" src="images/gallery/5-preview.jpg" alt="Photo">
            </a>
        </div>
        <div class="img-row">
            <a class="js-slider-preview img-link" href="#" data-index-number="5">
                <img class="img" src="images/gallery/6-preview.jpg" alt="Photo">
            </a>
        </div>
        <div class="img-row">
            <a class="js-slider-preview img-link" href="#" data-index-number="6">
                <img class="img" src="images/gallery/7-preview.jpg" alt="Photo">
            </a>
            <a class="js-slider-preview img-link" href="#" data-index-number="7">
                <img class="img" src="images/gallery/8-preview.jpg" alt="Photo">
            </a>
        </div>
    </div>
</section>