<section class="section-history-content">
    <div class="container history-content-wrap">
        <div class="d-flex flex-column flex-lg-row align-items-center">
            <div class="page-content-wrap">
                <h2 class="title">
                    History of rugby world cup
                </h2>
                <p>
                    The first Rugby World Cup competition organized by the International Rugby Board (IRB) was held in 1987 in
                    New Zealand and Australia and was a popular and financial success. It was staged four years after a failed
                    attempt to launch a global “rebel” (that is, outside the control of the IRB) professional championship.
                    Since 1987 Rugby World Cup has been hosted by Australia, New Zealand, United Kingdom, Ireland, France,
                    South Africa, and 2019 marks the first time the tournament is to be held in Asia, and also the first
                    time that the event will take place outside the traditional heartland of the sport. By 2015, Rugby World
                    Cup is the third largest international televised sporting event reaching over 200 countries and some 4
                    billion viewers.
                </p>
                <p>
                    Rugby World Cup 2019 runs from Friday 20 September to Saturday 2 November, with games
                    played across Japan. New Zealand has won the last two Rugby World Cups, but will they make it a hat-trick in 2019?
                </p>
            </div>
            <div class="image-wrap-right">
                <img src="images/rwc-cup.png" alt="RWC Cup">
                <div class="image-caption text-center">TM © Rugby World Cup Limited 1986 or<br>TM © RWCL 1986</div>
            </div>
        </div>
    </div>
    <div class="container container-lg">
        <div class="row row-lg-10 justify-content-center card-list">
            <div class="col-sm-8 col-md-6 col-lg-4">
                @@include("components/history.html", {
                    "color": "#452761",
                    "title": "Rugby world cup 1987",
                    "subtitle": "Host(s) | Australia & New Zealand",
                    "content-title": "New Zealand",
                    "content-text": "Winners",
                    "flag": "images/flags/md/new-zealand.png",
                    "background": "images/histories-bg/1.jpg",
                    "bottom-title1": "Matches",
                    "bottom-text1": "32",
                    "bottom-title2": "Attendance",
                    "bottom-text2": "604,500"
                })
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
                @@include("components/history.html", {
                    "color": "#2D827B",
                    "title": "Rugby world cup 1991",
                    "subtitle": "Host(s) | Europe",
                    "content-title": "Australia",
                    "content-text": "Winners",
                    "flag": "images/flags/md/australia.png",
                    "background": "images/histories-bg/2.jpg",
                    "bottom-title1": "Matches",
                    "bottom-text1": "32",
                    "bottom-title2": "Attendance",
                    "bottom-text2": "1,007,760"
                })
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
                @@include("components/history.html", {
                    "color": "#1D6096",
                    "title": "Rugby world cup 1995",
                    "subtitle": "Host(s) | South Africa",
                    "content-title": "South Africa",
                    "content-text": "Winners",
                    "flag": "images/flags/md/south-africa.png",
                    "background": "images/histories-bg/3.jpg",
                    "bottom-title1": "Matches",
                    "bottom-text1": "32",
                    "bottom-title2": "Attendance",
                    "bottom-text2": "1,100,000"
                })
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
                @@include("components/history.html", {
                    "color": "#F5A72B",
                    "title": "Rugby world cup 1999",
                    "subtitle": "Host(s) | Wales",
                    "content-title": "Australia",
                    "content-text": "Winners",
                    "flag": "images/flags/md/australia.png",
                    "background": "images/histories-bg/4.jpg",
                    "bottom-title1": "Matches",
                    "bottom-text1": "41",
                    "bottom-title2": "Attendance",
                    "bottom-text2": "1,750,000"
                })
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
                @@include("components/history.html", {
                    "color": "#A91B31",
                    "title": "Rugby world cup 2003",
                    "subtitle": "Host(s) | Australia",
                    "content-title": "England",
                    "content-text": "Winners",
                    "flag": "images/flags/md/england.png",
                    "background": "images/histories-bg/5.jpg",
                    "bottom-title1": "Matches",
                    "bottom-text1": "48",
                    "bottom-title2": "Attendance",
                    "bottom-text2": "1,837,547"
                })
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
                @@include("components/history.html", {
                    "color": "#62C5E1",
                    "title": "Rugby world cup 2007",
                    "subtitle": "Host(s) | France",
                    "content-title": "South Africa",
                    "content-text": "Winners",
                    "flag": "images/flags/md/south-africa.png",
                    "background": "images/histories-bg/3.jpg",
                    "bottom-title1": "Matches",
                    "bottom-text1": "48",
                    "bottom-title2": "Attendance",
                    "bottom-text2": "2,263,223"
                })
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
                @@include("components/history.html", {
                    "color": "#5EBCB3",
                    "title": "Rugby world cup 2011",
                    "subtitle": "Host(s) | New Zealand",
                    "content-title": "New Zealand",
                    "content-text": "Winners",
                    "flag": "images/flags/md/new-zealand.png",
                    "background": "images/histories-bg/1.jpg",
                    "bottom-title1": "Matches",
                    "bottom-text1": "48",
                    "bottom-title2": "Attendance",
                    "bottom-text2": "1,477,294"
                })
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
                @@include("components/history.html", {
                    "color": "#E74870",
                    "title": "Rugby world cup 2015",
                    "subtitle": "Host(s) | England",
                    "content-title": "New Zealand",
                    "content-text": "Winners",
                    "flag": "images/flags/md/new-zealand.png",
                    "background": "images/histories-bg/1.jpg",
                    "bottom-title1": "Matches",
                    "bottom-text1": "48",
                    "bottom-title2": "Attendance",
                    "bottom-text2": "2,477,805"
                })
            </div>
        </div>
    </div>
</section>