<section class="section-info">
    <div class="container">
        @@ include("components/info.html", {
            "items": [
                {
                    "class": "badge",
                    "text": "Rugby World Cup 2019"
                },
                {
                    "class": "location",
                    "text": "Japan"
                },
                {
                    "class": "calendar",
                    "text": "20 September - 02 November 2019"
                }
            ]
        })
        <div class="d-flex">
            <a class="btn btn-primary" href="#" role="button">
                Sports
            </a>
            <a class="btn btn-outline-primary btn-padding-sm" href="#" role="button">
                Rugby
            </a>
        </div>
    </div>
</section>