<section class="js-matches-filters section-matches-filters" data-matches="json/matches.json?v=2">
    <div class="container">
        <h2>
            Rugby World Cup 2019, Japan fixtures
        </h2>
        <filters-search></filters-search>
        <filters-desktop></filters-desktop>
        <div class="input-group input-group-filters-m">
            <button class="btn btn-filters" type="button" data-toggle="modal" data-target=".modal-filters">
                <i class="icon icon-filters"></i>Filters
            </button>
        </div>
        <matches></matches>
    </div>
</section>