<section class="section-nav-tabs">
    <div class="container">
        @@include("components/nav-tabs.html", {
            "tabs": [
                {
                    "name": "event-info-and-fixtures",
                    "text": "EVENT INFO & FIXTURES"
                },
                {
                    "name": "packages",
                    "text": "PACKAGES"
                },
                {
                    "name": "history",
                    "text": "HISTORY"
                },
                {
                    "name": "venue",
                    "text": "VENUE"
                },
                {
                    "name": "faq",
                    "text": "FAQ"
                }
            ],
            "activeNum": "@@activeNum"
        })
    </div>
</section>