<section class="section-packages">
    <div class="container">
        <p>
            Redtix has been appointed as an Authorised Sub-Agent for Rugby World Cup 2019™.<br>
            20 Nations will once again compete for rugby's biggest prize of the Webb Ellis Cup. Taking place in Japan,
            the land of the rising sun, this tournament provides the perfect opportunity to watch the best rugby teams
            face one another along with exploring a fascinating and beautiful country. Redtix personally customized
            packages ensure a unique and an one-of-a-kind experience.
        </p>
        <h2>Packages</h2>
        <div class="packages">
            @@ loop("components/package.html", [
                {
                    "size": "1",
                    "imgDesktop": "images/packages/1-desktop.jpg",
                    "imgMobile": "images/packages/1-mobile.jpg",
                    "date": "19 September - 22 September 2019",
                    "features": [
                        {
                            "class": "airplane",
                            "text": "Return Flight from Selected Cities"
                        },
                        {
                            "class": "bed",
                            "text": "4 Days 3 Nights Accomodation in Tokyo"
                        },
                        {
                            "class": "badge",
                            "text": "Japan v Russia (Inc. Opening Ceremony)"
                        },
                        {
                            "class": "badge",
                            "text": "New Zealand v South Africa"
                        },
                        {
                            "class": "support",
                            "text": "Dedicated RedTix Online Support"
                        }
                    ],
                    "price": "RM 6,325",
                    "link": "package-1.html"
                },
                {
                    "size": "2",
                    "imgDesktop": "images/packages/2-desktop.jpg",
                    "imgMobile": "images/packages/2-mobile.jpg",
                    "date": "19 September - 23 September 2019",
                    "features": [
                        {
                            "class": "airplane",
                            "text": "Return Flight from Selected Cities"
                        },
                        {
                            "class": "bed",
                            "text": "4 Days 3 Nights"
                        },
                        {
                            "class": "badge",
                            "text": "Japan v Russia (Inc. Opening Ceremony)"
                        },
                        {
                            "class": "badge",
                            "text": "New Zealand v South Africa"
                        },
                        {
                            "class": "badge",
                            "text": "Ireland v Scotland"
                        },
                        {
                            "class": "support",
                            "text": "Dedicated RedTix Online Support"
                        }
                    ],
                    "price": "RM 8,012",
                    "link": "package-2.html"
                },
                {
                    "size": "3",
                    "imgDesktop": "images/packages/3-desktop.jpg",
                    "imgMobile": "images/packages/3-mobile.jpg",
                    "date": "11 October - 3 November 2019",
                    "features": [
                        {
                            "class": "airplane",
                            "text": "Return Flight from Selected Cities"
                        },
                        {
                            "class": "badge",
                            "text": "England v France"
                        },
                        {
                            "class": "badge",
                            "text": "QF1 & QF3 Match Tickets (Oita Stadium)"
                        },
                        {
                            "class": "badge",
                            "text": "SF1 & SF2 Match Tickets"
                        },
                        {
                            "class": "badge",
                            "text": "Ticket to the final"
                        },
                        {
                            "class": "support",
                            "text": "Dedicated RedTix Online Support"
                        }
                    ],
                    "price": "RM 14,053",
                    "link": "package-3.html"
                },
                {
                    "size": "2",
                    "imgDesktop": "images/packages/4-desktop.jpg",
                    "imgMobile": "images/packages/4-mobile.jpg",
                    "date": "16 October - 22 October 2019",
                    "features": [
                        {
                            "class": "airplane",
                            "text": "Return Flight from Selected Cities"
                        },
                        {
                            "class": "badge",
                            "text": "QF1 & QF3 Match Tickets"
                        },
                        {
                            "class": "support",
                            "text": "Dedicated RedTix Online Support"
                        }
                    ],
                    "price": "RM 4,071",
                    "link": "package-4.html"
                },
                {
                    "size": "1",
                    "imgDesktop": "images/packages/5-desktop.jpg",
                    "imgMobile": "images/packages/5-mobile.jpg",
                    "date": "11 October - 21 October 2019",
                    "features": [
                        {
                            "class": "airplane",
                            "text": "Return Flight from Selected Cities"
                        },
                        {
                            "class": "badge",
                            "text": "England v France"
                        },
                        {
                            "class": "badge",
                            "text": "QF1 & QF3 Match Tickets (Oita Stadium)"
                        },
                        {
                            "class": "support",
                            "text": "Dedicated RedTix Online Support"
                        }
                    ],
                    "price": "RM 5,072",
                    "link": "package-5.html"
                },
                {
                    "size": "3",
                    "imgDesktop": "images/packages/6-desktop.jpg",
                    "imgMobile": "images/packages/6-mobile.jpg",
                    "date": "25 October - 3 November 2019",
                    "features": [
                        {
                            "class": "airplane",
                            "text": "Return Flight from Selected Cities"
                        },
                        {
                            "class": "badge",
                            "text": "SF1 & SF2 Match Tickets"
                        },
                        {
                            "class": "badge",
                            "text": "Ticket to the final"
                        },
                        {
                            "class": "support",
                            "text": "Dedicated RedTix Online Support"
                        }
                    ],
                    "price": "RM 10,764",
                    "link": "package-6.html"
                },
                {
                    "size": "1",
                    "imgDesktop": "images/packages/7-desktop.jpg",
                    "imgMobile": "images/packages/7-mobile.jpg",
                    "date": "18 October - 21 October 2019",
                    "features": [
                        {
                            "class": "airplane",
                            "text": "Return Flight from Selected Cities"
                        },
                        {
                            "class": "bed",
                            "text": "4 Days 3 Nights"
                        },
                        {
                            "class": "badge",
                            "text": "QF2 & QF4 Match Tickets"
                        },
                        {
                            "class": "support",
                            "text": "Dedicated RedTix Online Support"
                        }
                    ],
                    "price": "RM 6,438",
                    "link": "package-7.html"
                },
                {
                    "size": "2",
                    "imgDesktop": "images/packages/8-desktop.jpg",
                    "imgMobile": "images/packages/8-desktop.jpg",
                    "date": "25 October - 28 October 2019",
                    "features": [
                        {
                            "class": "airplane",
                            "text": "Return Flight from Selected Cities"
                        },
                        {
                            "class": "bed",
                            "text": "4 Days 3 Nights"
                        },
                        {
                            "class": "badge",
                            "text": "SF1 & SF2 Match Tickets"
                        },
                        {
                            "class": "support",
                            "text": "Dedicated RedTix Online Support"
                        }
                    ],
                    "price": "RM 7,942",
                    "link": "package-8.html"
                },
                {
                    "size": "3",
                    "imgDesktop": "images/packages/9-desktop.jpg",
                    "imgMobile": "images/packages/9-mobile.jpg",
                    "date": "16 October - 3 November 2019",
                    "features": [
                        {
                            "class": "airplane",
                            "text": "Return Flight from Selected Cities"
                        },
                        {
                            "class": "badge",
                            "text": "QF1 & QF3 Match Tickets"
                        },
                        {
                            "class": "badge",
                            "text": "SF1 & SF2 Match Tickets"
                        },
                        {
                            "class": "badge",
                            "text": "Ticket to the final"
                        },
                        {
                            "class": "support",
                            "text": "Dedicated RedTix Online Support"
                        }
                    ],
                    "price": "RM 13,041",
                    "link": "package-9.html"
                },
                {
                    "size": "3",
                    "imgDesktop": "images/packages/10-desktop.jpg",
                    "imgMobile": "images/packages/10-mobile.jpg",
                    "date": "18 October - 3 November 2019",
                    "features": [
                        {
                            "class": "airplane",
                            "text": "Return Flight from Selected Cities"
                        },
                        {
                            "class": "badge",
                            "text": "QF2 & QF4 Match Tickets"
                        },
                        {
                            "class": "badge",
                            "text": "SF1 & SF2 Match Tickets"
                        },
                        {
                            "class": "badge",
                            "text": "Ticket to the final"
                        },
                        {
                            "class": "support",
                            "text": "Dedicated RedTix Online Support"
                        }
                    ],
                    "price": "RM 13,041",
                    "link": "package-10.html"
                }
            ])
        </div>
        <div class="contact">
            <p>
                If these packages don't meet your needs, contact us so we can design one for you.
            </p>
            <p>
                Please “get in touch” via <a href="#">live chat</a>.
            </p>
        </div>
    </div>
</section>