<section class="section-pools">
    <div class="container">
        <h2>
            Rugby World Cup 2019, JAPAN
        </h2>
        <p>
            RedTix has been appointed as an Authorised Sub-Agent for Rugby World Cup 2019™.<br>
            20 Nations will once again compete for rugby's biggest prize of the Webb Ellis Cup.
            Taking place in Japan, the land of the rising sun, this tournament provides the
            perfect opportunity to watch the best rugby teams face one another along with
            exploring a fascinating and beautiful country.
        </p>
        <div class="row d-none d-sm-flex justify-content-between no-gutter-between-xl">
            <div class="col-6 col-xl d-flex justify-content-center flex-xl-grow-0">
                @@ include("components/pool.html", {
                    "class": "a",
                    "title": "Pool A",
                    "countries": [
                        "Ireland",
                        "Scotland",
                        "Japan",
                        "Russia",
                        "Samoa"
                    ]
                })
            </div>
            <div class="col-6 col-xl d-flex justify-content-center flex-xl-grow-0">
                @@ include("components/pool.html", {
                    "class": "b",
                    "title": "Pool B",
                    "countries": [
                        "New Zealand",
                        "South Africa",
                        "Italy",
                        "Namibia",
                        "Canada"
                    ]
                })
            </div>
            <div class="col-6 col-xl d-flex justify-content-center flex-xl-grow-0">
                @@ include("components/pool.html", {
                    "class": "c",
                    "title": "Pool C",
                    "countries": [
                        "England",
                        "France",
                        "Argentina",
                        "USA",
                        "Tonga"
                    ]
                })
            </div>
            <div class="col-6 col-xl d-flex justify-content-center flex-xl-grow-0">
                @@ include("components/pool.html", {
                    "class": "d",
                    "title": "Pool D",
                    "countries": [
                        "Australia",
                        "Wales",
                        "Georgia",
                        "Fiji",
                        "Uruguay"
                    ]
                })
            </div>
        </div>
    </div>
</section>