<section class="section-videos">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @@include("components/video.html", {
                    "link":     "https://www.rugbyworldcup.com/video/387641",
                    "title":    "Japan V Russia Feature",
                    "img":      "images/videos/1.jpg",
                    "duration": "4:08",
                    "time":     "13/12/2018 16:51"
                })
            </div>
            <div class="col-md-4">
                @@include("components/video.html", {
                    "link":     "https://www.rugbyworldcup.com/video/387640",
                    "title":    "2018 In Review: The Rugby World Cup qualification story",
                    "img":      "images/videos/2.jpg",
                    "duration": "2:46",
                    "time":     "13/12/2018 16:50"
                })
            </div>
            <div class="col-md-4">
                @@include("components/video.html", {
                    "link":     "https://www.rugbyworldcup.com/video/382185",
                    "title":    "World Rugby chairman Bill Beaumont reflects on thrilling Rugby World Cup 2019 Repechage",
                    "img":      "images/videos/3.jpg",
                    "duration": "00:40",
                    "time":     "24/11/2018 18:03"
                })
            </div>
            <div class="col-md-4">
                @@include("components/video.html", {
                    "link":     "https://www.rugbyworldcup.com/video/379702",
                    "title":    "Outstanding team try scored by Hong Kong at Rugby World Cup 2019 Repechage",
                    "img":      "images/videos/4.jpg",
                    "duration": "00:51",
                    "time":     "17/11/2018 15:29"
                })
            </div>
            <div class="col-md-4">
                @@include("components/video.html", {
                    "link":     "https://www.rugbyworldcup.com/video/379682",
                    "title":    "Kenyan brilliance leads to an incredible try at Rugby World Cup 2019 Repechage",
                    "img":      "images/videos/5.jpg",
                    "duration": "1:15",
                    "time":     "17/11/2018 14:37"
                })
            </div>
            <div class="col-md-4">
                @@include("components/video.html", {
                    "link":     "https://www.rugbyworldcup.com/video/378755",
                    "title":    "Kurt Haupt's brilliant try for Germany",
                    "img":      "images/videos/6.jpg",
                    "duration": "1:01",
                    "time":     "11/11/2018 19:16"
                })
            </div>
        </div>
    </div>
</section>